@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");

body {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    overflow-x: hidden;
    box-sizing: border-box;

}

.wrapper {
    /* max-width: 96%;
    margin-left: 2%;
    border: 1px solid red; */
}

.illus1 {
    height: 125px;
    width: 125px;
    margin-top: -30px;
    margin-left: -30px;
    /* position: fixed; */
}

.upr-text {
    margin-left: 60px;
}

.upr-text h1 {
    margin-top: 80px;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    /* letter-spacing: 2px; */
    /* line-height: 70px */
}

.upr-text p {
    font-size: large;
    font-family: 'Oxygen', sans-serif;
    text-align: justify;
}

.illus2 {
    height: 600px;
    width: 900px;
    margin-top: -50px;
    /* margin-left: 50px;    */
}

.illus3 {
    margin-left: -150px;
}

.mid p {
    /* text-align: center; */
    /* border: 1px solid red; */
    font-family: 'Arimo', sans-serif;
    font-size: large;
}

.mid-text {
    font-size: large;
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    font-weight: 700;
    margin-top: -30px;
}

.illus4 {
    margin-top: 100px;
    margin-left: -150px;
    height: 500px;
}

/* .illus4,
.illus5 {
    margin-top: 50px;
} */

.illus7 {
    height: 300px;
    width: 200px;
}

.col-md-4 svg {
    height: 250px;
    width: 250px;
    margin-top: 50px !important;
    margin-left: 25%;
}

.lower-text p {
    max-width: 250px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    font-size: large;
}

.illus8 {
    height: 200px;
    margin-left: 725px;
    margin-top: -150px;
}

@media screen and (max-width: 1280px) {
    .illus2 {
        height: 450px;
        width: 600px;
        margin-top: 0px;
    }

    .illus7 {
        display: none;
    }

    .illus8 {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .illus2 {
        display: none;
    }

    .illus3 {
        width: 200px;
        margin: 0;
        margin-left: -100px;
    }

    .upr-text {
        max-width: 80%;
        margin: auto;
    }

    .upr-text h1 {
        margin-top: 0;
    }

    .illus4 {
        display: none;
    }

    .mid-text {
        max-width: 80%;
        margin: auto;
    }

    .col-md-4 svg {
        width: 60%;
        /* margin: auto; */
    }

    .col-md-4 {
        margin: auto;
    }

    .upr-right svg {
        height: 400px;
        width: 550px;
        margin-left: 15%;
    }
}

@media screen and (max-width: 450px) {}