@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

nav {
  width: 65%;
  background: white;
  z-index: 999;
  /* position: fixed; */
  /* border: 1px solid red; */
  display: block;
}

ul {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.nav-list {
  /* float: right; */
  margin-left: 180px;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 20px;
  color: black;
}

ul li a {
  font-size: 18px;
  color: black;
  padding: 5px 8px;
  text-decoration: none;
}

ul li a:hover {
  color: black;
  background-color: rgb(204, 232, 250);
  text-decoration: none;
}

.toggle {
  width: 100%;
  padding: 10px 20px;
  /* background: #3b93ff; */
  text-align: right;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  display: none;
  /* z-index: 1000; */
}

.toggle i {
  color: black;
}

@media (max-width: 768px) {
  nav {
    width: 100%;
  }
  .nav-list {
    float: none;
    margin-left: 0;
  }

  .toggle {
    display: block;
  }

  ul {
    width: 100%;
    display: block;
    z-index: 999;
  }

  ul li {
    display: block;
    text-align: center;
  }

  .active {
    display: none;
  }
}

.illus1 {
  height: 125px;
  width: 125px;
  margin-top: -90px;
  margin-left: -30px;
  /* overflow: hidden; */
}

.upr-text {
  margin-left: 210px;
  max-width: 460px;
}

.upr-text h1 {
  margin-top: 80px;
  font-family: "Arimo", sans-serif;
  font-weight: bolder;
}

.upr-text p {
  font-size: 19px;
  line-height: 30px;
  letter-spacing: -0.1px;
  font-family: "Oxygen", sans-serif;
  /* text-align: justify; */
}

.illus2 {
  height: 600px;
  width: 900px;
  margin-top: -140px;
}

.illus3 {
  margin-left: -150px;
  margin-top: 60px;
}

.mid-text {
  font-size: 19px;
  line-height: 30px;
  letter-spacing: -0.1px;
  font-family: "Oxygen", sans-serif;
  max-width: 50%;
  /* line-height: 30px; */
  margin: auto;
  text-align: center;
  /* font-weight: 700; */
  margin-top: -130px;
}

.illus4 {
  margin-top: 100px;
  margin-left: -150px;
  height: 500px;
}

.line {
  border: 1px solid black;
  width: 0;
  margin: auto;
  background-color: black;
  padding: 100px 0px;
  margin-top: 80px;
}

.col-md-3 {
  text-align: center;
}

.illus7 {
  height: 300px;
  width: 200px;
}

.col-md-3 svg {
  height: 250px;
  width: 250px;
  margin-top: 50px !important;
}

.lower-text p {
  max-width: 250px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: -0.1px;
  font-family: "Oxygen", sans-serif;
}

.illus8 {
  height: 200px;
  margin-left: 475px;
  margin-top: -150px;
}

@media screen and (max-width: 1280px) {
  .illus2 {
    height: 450px;
    width: 600px;
    margin-top: 0px;
  }

  .line {
    display: none;
  }

  .illus7 {
    display: none;
  }

  .illus8 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .illus2 {
    display: none;
  }

  .illus3 {
    width: 200px;
    margin: 0;
    margin-left: -100px;
  }

  .upr-text {
    max-width: 80%;
    margin: auto;
  }

  .upr-text h1 {
    margin-top: 0;
  }

  .illus4 {
    display: none;
  }

  .mid-text {
    max-width: 80%;
    margin: auto;
  }

  .col-md-3 svg {
    width: 60%;
  }

  .col-md-3 {
    margin: auto;
  }

  .upr-right svg {
    height: 400px;
    width: 550px;
    margin-left: 15%;
  }
}

@media screen and (max-width: 450px) {
}
